<!DOCTYPE html>
<html>
  <head>
    <title>Titleizer!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body class='container'>
    <h1>Titleizer:</h1>
    <form action='/Titlized' method='get'>
      <div class='form-group'>
        <label for="title">Title </label>
        <input id='title' name="title" class='form-control' type='text'> </input>
      </div>
      <button type='submit' class='btn' >Submit</button>
    </form>
  </body>
</html>
